<body id="bodyContatos">
    <form class="shadow p-3 mb-5 bg-white rounded">
        <h2>Fale conosco</h2>
        <p>Entre em contato conosco para saber mais sobre nossos produtos e serviços.</p>
        <ul>
            <li>Telefone: 40028922</li>
            <li>Av Regente Feijó, 2170</li>
            <li><span class="text-orange">E-mail: drivetime@gmail.com</span></li>
        </ul>
    </form>
</body>
